<ion-view view-title="Login" >
    <ion-content style="background-color: #fff">

        <div class="no-header flat">
            <div class="content">

                <div class="app-icon"></div>
                <h1 align="center">{{PagerTitle}}</h1>
                <h1 align="center">JSapp Pager</h1>
                <p align="center">{{PagerVersion}}</p>

            </div>
        </div>

        <div class="padding">
            <button ng-click="loginFacebook()" class="button button-full ink icon-left ion-social-facebook">Login</button>
            <!--<button class="button button-primary button-block " ng-click="checkForUpdates()">Check for updates</button>-->
            <!--<button class="button button-stable button-block button-pulse" ng-if="hasUpdate" ng-click="doUpdate()">download update</button>-->
        </div>

    </ion-content>
</ion-view>
